streamlit==1.58.0
pandas==3.0.3
plotly==6.3.0

langchain==0.3.27
langchain-core==0.3.76
langchain-openai==0.3.33

chromadb==0.5.23

openai==1.107.2

protobuf==5.29.5

python-dotenv
requests
sqlalchemy
fastapi
uvicorn
aiohttp
pydantic